.header{
    margin-top: 90px;
    display: flex;
    width: 100%;
    padding: var( --man-pages-padding);
    gap: 5%;
    position: relative;
}


.header h1{
    line-height: 1.3;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}


.enrich-your-dream{
    color: #e91e62;
}

.header p{
    font-size: 1rem;
    letter-spacing: .5px;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}

.header img{
    width: 90%;
    height: 75vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    animation-name: headerimage;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes headerimage {
    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(-10px);
    }

    100%{
        transform: translateX(0px);
    }
    
}



.find-course:hover{
    background-color: rgb(255, 72, 0);
}

.find-course{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: .5px;
    color: #ffffff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 3rem;
    transition: .5s;
}

.cards{
    display: flex;
    gap: 2rem;
}


.cards .card1{
    background-color: var(--navbar);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 13rem;
    width: 10rem;
   border-radius: 15px;
   border-bottom: 4px solid #fff;
    
}


.cards .card1 h1{
    font-size: 2rem;
    margin: 7px 0;
}


.cards .card1 h2{
    font-size: 1.2rem;
}


/* description-activities */

.description-activities{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar);
    margin-top: 60px;
    height: 90px;
    margin-bottom: 50px;
    padding: 0 6rem;
}

.description-activities .description1{
    display: flex;
    gap: .5rem;
}

.description-activities .description1 .icon{
  background-color: var( --main-footer-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


/* who we are contaianer */

.who-we-are-container{
    display: flex;
    padding: 0 6rem;
    gap: 3%;
    margin-bottom: 50px;
    position: relative;
}

.who-we-are-container img{
    width: 41%;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    box-shadow: var(--box-shadow);
    transition: .5s;
    
}

.who-we-are-container img:hover {
    transform: translateX(10px);

   
}

.who-we-are-container img:hover ~.student-enrolled{
    transform: translateY(-10px);

}

.student-enrolled{
    position: absolute;
    width: 15%;
    height:16vh ;
    background-color: #fff;
    color: var(--navbar);
    padding: 20px;
    bottom: 40px;
    left: 330px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 5px 10px rgba(243, 3, 103, 0.884);
    transition: .5s;
    
}

.student-enrolled h1{
    color: #17025A;
    font-size: 2.3rem;
}

.student-enrolled p{

    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.who-we-are-container h3{
    margin-top: 10px;
    color: var(--navbar);
    letter-spacing: .5px;
}

.who-we-are-container .texts p{
    margin-top: 10px;
    line-height: 1.3;
    font-size: .9rem;
    letter-spacing: .5px;
}

.who-we-are-container .online-courses{
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 1rem;
}

.who-we-are-container .online-courses .icon{
    width: 80px;
    height: 50px;
    border-radius: 50%;
    background: var(--navbar);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;

}

.who-we-are-container .online-courses .texts h2{
    color: var(--navbar);
    font-size: 1.5rem;
}

/* start-your-learning-journey */

.start-your-learning-journey{
    background: linear-gradient(rgba(1, 3, 155, 0.815), rgba(1, 3, 155, 0.801)), url(../../assets/download.jpeg);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 6rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
    box-shadow: inset var(--box-shadow);
    margin-bottom: 50px;
}


.start-your-learning-journey img{
    width: 400px;
    object-fit: cover;
    height: 280px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 8px solid var(--navbar);
    box-shadow: var(--box-shadow);

}

.start-your-learning-journey .text-button{
    width: 60%;
}

.start-your-learning-journey .text-button h2{
    font-size: 2.2rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 10px;

}

.start-your-learning-journey .text-button p{
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 10px;

}

.text-button .dicover-tbn{
    display: flex;
    align-items: baseline;
    outline: none;
    border: none;
    background-color: transparent;
    align-items: center;
    color: #fff;
    background-color: var(--navbar);
    padding: 10px 20px;
    letter-spacing: .5px;
    font-size: 1rem;
    gap: 8px;
    border-radius: 20px;
}

/* courses page asap */

.our-popular-courses{
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.our-popular-courses .title{
    text-align: center;
    position: relative;
 
    margin-bottom: 0px;
    
}

.our-popular-courses .title h3{
    margin-bottom: 7px;
    letter-spacing: 1px;
    z-index: 1;
    text-shadow: var(--box-shadow);
    
}

.our-popular-courses .title h3::before{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background:linear-gradient(#fff 0%,#ff0141 100%);
    z-index: -1;
    top: -20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.our-popular-courses .title p{
    margin-top: 10px;
    line-height: 1.2;
    font-size: 1rem;
    letter-spacing: .5px;
    text-align: justify;
    width: 600px;
}

.courses{
    display: flex;
    gap: 20px;
}

.courses .course1{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
   width: 268px;
   height: 60vh;
   border-radius: 10px;
   margin-top: 30px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
   border-bottom: 5px solid var(--navbar);
   overflow: hidden;
   color: #000;
   transition: .5s;

}

.courses .course1:hover{
    transform: translateY(10px)  scale(1.1);
}

.courses .course1 img{
    width: 60%;
    height: 170px;
    place-self: center;
    object-fit: contain;
    margin-bottom: 10px;
}

.courses .course1 h3{
    font-size: 1rem;
    margin-bottom: 15px;
}

.courses .course1 p{
    margin-bottom: 10px;
    font-size: 1rem;
   text-decoration: underline 2px solid rgb(255, 0, 128);
}

.courses .course1 .stars{
    color: rgb(255, 123, 0);
   
}

.profile-name{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-name h4{
    font-size: .9rem;
}

.courses .profile-name img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--navbar);
}

button{
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    background-color: var(--navbar);
    color: #fff;
    font-size: 1rem;
    letter-spacing: .5px;
    border-radius: 10px;
}

.show-more-btn{
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 50%; 
}



/* frequently ask questions */

.sugested-questions{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
    gap: 20px;
    position: relative;
    color: #000;
}

.sugested-questions h3{
    color: #fff;
}

.sugested-questions h3::before{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background:linear-gradient(#fff 1%,#ff012b 100%);
    z-index: -1;
    top: 40px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;

}

.sugested-questions h1{
    color: #fff;
    margin-bottom: 0px;
    letter-spacing:2 ;
}


.sugested-questions .question_answers{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    border: 2px solid #e91e62;
   
}

.sugested-questions .question_answers .question{
    display: flex;
    justify-content: space-between;
   

}

.question_answers .question p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    align-items: center;
}

.question_answers .question .fa-arrow-down{
    font-size: 20px;
    color: #e91e62;
}

.question_answers .question .fa-plus{
    padding: 10px;
    color: #e91e62;
    font-weight: bold;
}

.answers{
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 10px;
    display: none;
    margin-top: 10px;
    
}

.answers p{
    line-height: 1.1;
}

.answers .open{
    display: block;
}



/* instructors */

.instructors{
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: .5px;
    margin-bottom: 50px;
    position: relative;
}

.instructors h3{
    margin-bottom: 7px;
    margin-top: 30px;

}

.instructors h3::before{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background:linear-gradient(#fff 1%,#ff012b 100%);
    z-index: -1;
    top: 5px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.instructors h1{
    color: #e91e62;
    text-shadow: var(--box-shadow);
}

.instructors p{
    width: 50%;
    place-self: center;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}


.instructors-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.instructors-cards .card1{
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    width: 278px;
    height: 40vh;
    border-top-left-radius: 50px;
    margin-bottom: 20px;
   
}

.instructors-cards .card1 img{
    height: 30vh;
    object-fit: cover;
    border-top-left-radius: 0px;
}

.instructors-cards .card1 h4{
    color: #08025a;
   
}

.instructors-cards .card1 h5{
    color: #e91e62;
    font-size: 1rem;
    margin: 7px 0;
}

.instructor-btn{
    display: flex;
    align-items: center;
}




/* testimonial section */


.testimonial_section{
    padding: 2rem 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: #0b012c;
    margin-bottom: 50px;
}


.testimonial_section h3{
color: #ffffff;
font-size: 18px;
letter-spacing: .6px;
margin-bottom: 10px;
}


.testimonial_section h3::before{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background:linear-gradient(#fff 1%,#ff012b 100%);
    z-index: -1;
    top: 5px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.testimonial_section h1{
color: #eef3ed;
font-size: 1.7rem;
letter-spacing: .6px;
margin-bottom: 10px;
margin-bottom: 20px;
}

.testimonial_section .cardes{
   display: flex;
    gap: 20px;
    width: max-content;
    animation: testimonialscroll 40s infinite linear;
}

.slider{
    flex-wrap: nowrap;
    width: 100%;
    gap: 30px;
    display: flex;
    position: relative;
}

.slider:hover{
    animation-play-state: paused;
}

@keyframes testimonialscroll {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
    
}

.cardes .carde1{
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 30px;
    height: 170px;
    margin-top: 30px;
    position: relative;
   
    z-index: 1;
}

.cardes .carde1::after{
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 130px;
    z-index: -1;

}

.cardes .carde1 p{
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.3;
    margin-top: 10px;
}

.cardes .carde1 .fa-ellipsis{
    font-size: 25px;

}

.fa-quote-left{
    color: #e91e62;
}

.slider .cardes .carde1 img{
    width: 80px;
    height: 80px;
    border-radius: 45px;
    border: 3px solid #e91e62;
    position: absolute;
    top: -40px;
   right: 160px;
}



/* media queries */


@media screen and (max-width:1200px) {
    .header{
        margin-top: 120px;
        display: flex;
        width: 100%;
        padding: 0 3rem;
        gap: 5%;
    }
    
    .header h1{
        font-size: 2.2rem;
    }

    /* .description-activities */

    .description-activities{
        padding: 0 3rem;
    }

    /* who we are contaianer */

.who-we-are-container{
    padding: 0 3rem;
    gap: 5%;
}

.student-enrolled{
    width: 17%;
    left: 290px;
}


 /* start-your-learning-journey */

.start-your-learning-journey{
    padding: 2rem 3rem;
}

.start-your-learning-journey .text-button p{
    letter-spacing: .6px;
}


/* courses page asap */

.our-popular-courses{
   flex-wrap: wrap;
    padding: 0 3rem;
    margin-bottom: 10px;
}

.courses{
    display: flex;
    gap: 13px;
}

.courses .course1{
    padding: 10px;
   width: 255px;
   height: 60vh;
   margin-bottom: 20px;
}

.courses{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.courses .course1{
   height: 63vh;
}



/* frequently ask questions */

.sugested-questions{
    padding: 2rem 3rem;
}

.sugested-questions .question_answers{
    width: 80%;
}


/* instructors */

.instructors{
    padding: 0 3rem;
}

.instructors h3{
    margin-bottom: 7px;
    margin-top: 30px;
}


.instructors-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.instructors-cards .card1{
    width: 258px;
    height: 40vh;
    border-top-left-radius: 50px;
    margin-bottom: 20px;
   
}

.sugested-questions h3::before{
    top: 8px;
}

}


@media screen and (max-width:992px) {
    .header{
      flex-direction: column;
        padding: 0 1.5rem;
        gap: 10%;
        height: auto;
        align-items: center;
    }
    
    .header h1{
        font-size: 2.8rem;
    }

    .header img{
        display: none;
    }

    .cards{
        margin-bottom: 20px;
    }

    /* .description-activities */

    .description-activities{
        padding: 2rem 1.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: auto;
        gap: 3rem;
        font-size: 1.2rem;
    }

    .description-activities .description1{
        gap: 1rem;
        border-bottom: 1px solid #fff;
        padding: 10px;
    }

    /* who we are contaianer */

.who-we-are-container{
    padding: 0 1.5rem;
    gap: 3%;
    letter-spacing: .5px;
}

.student-enrolled{
    width: 22%;
    left: 150px;
}



 /* start-your-learning-journey */

 .start-your-learning-journey{
    padding: 1rem 1.5rem;
    gap: 1rem;
    height: auto;
}

.start-your-learning-journey .text-button p{
    letter-spacing: .5px;
}


/* courses page asap */

.our-popular-courses{
    padding: 0 1.5rem;
    margin-bottom: 90px;
}

.courses .course1{
    padding: 10px;
   width: 255px;
   height: auto;
   margin-bottom: 20px;
}

.courses .course1:nth-child(2){
    display: none;
}

.courses .course1:hover{
    transform:none;
}

.courses{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}


.show-more-btn{
    position: absolute;
    top: 10px;
}



/* frequently ask questions */

.sugested-questions{
    padding: 2rem 3rem;
}

.sugested-questions .question_answers{
    width: 80%;
}


/* instructors */

.instructors{
    padding: 0 1.5rem;
    margin-bottom: 130px;
}

.instructors h3{
    margin-bottom: 7px;
    margin-top: 30px;
}


.instructors p{
    width: 80%;
    place-self: center;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}


.instructors-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.instructors-cards .card1:nth-child(4){
    display: none;
}

.instructors-cards .card1{
    width: 100%;
    height: auto;
    border-top-left-radius: 50px;
    margin-bottom: 20px;
   
}

.instructors-cards .card1 img{
    width: 100%;

}



.instructor-btn{
    position: absolute;
   
    bottom: -60px;
    width: 210px;
    left: -110px;
}

.sugested-questions h3::before{
    top: 8px;
}

}

@media screen and (max-width:768px) {
    .header{
        flex-direction: column;
          padding: 0 1rem;
        
         
      }
      
      .header h1{
          font-size: 2.5rem;
      }
  
      .cards{
          margin-bottom: 20px;
      }
  
      /* .description-activities */
  
      .description-activities{
          padding: 2rem 1rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          height: auto;
          gap: 2rem;
          font-size: 1.2rem;
      }
  
      .description-activities .description1{
          gap: 1rem;
          border-bottom: 1px solid #fff;
          padding: 10px;
      }
  
      /* who we are contaianer */
  
  .who-we-are-container{
      padding: 0 1rem;
      gap: 3%;
      letter-spacing: .5px;
      flex-direction: column;
      height: auto;
  }

  .who-we-are-container img{
    width: 98%;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    box-shadow: var(--box-shadow);
    transition: .5s;
    margin-bottom: 10px;
    
}

  
  .student-enrolled{
      width: 30%;
      left: 400px;
      bottom: 600px;
  }
  
  
  
   /* start-your-learning-journey */
  
   .start-your-learning-journey{
      padding: 1rem 1rem;
      gap: 2rem;
      height: auto;
      flex-direction: column;
  }
  
  .start-your-learning-journey .text-button p{
      letter-spacing: .5px;
  }

  .start-your-learning-journey img{
    display: none;

}

.start-your-learning-journey .text-button{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.start-your-learning-journey .text-button h2{
    font-size: 2.2rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 10px;

}

.text-button .dicover-tbn{
   align-items: center;
   border: 2px solid #eef3ed;
   margin-top: 20px;
}


  
  /* courses page asap */
  
  .our-popular-courses{
    position: relative;
      padding: 0 1rem;
      margin-bottom: 10px;
  }
  
  .courses .course1{
      padding: 10px;
     width: 90%;
     height: auto;
     margin-bottom: 0px;
  }

  .courses .course1 img{
    object-fit: contain;
  }

  .courses .course1:hover{
    transform:none;
}
  
  .courses .course1:nth-child(2){
    display: flex;
}

  .courses{
      display: grid;
      gap: 0rem;
      grid-template-columns: repeat(2, 1fr);
  }
 
  
  .show-more-btn{
      position: absolute;
      top: -250px;
  }

  /* frequently ask questions */

.sugested-questions{
    margin-top: 70px;
    padding: 2rem 1rem;
}

.sugested-questions .question_answers{
    width: 100%;
}

/* instructors */

.instructors{
    height: auto;
    padding: 0 1rem;
    margin-top: 40px;
    margin-bottom: 80px;
  
}

.instructors h3{
    margin-bottom: 7px;
    margin-top: 30px;
}

.instructors-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.instructors-cards .card1{
    width: 270px;
    height: 40vh;
  
    border-top-left-radius: 50px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
}

.instructors-cards .card1:nth-child(4){
    display: flex;
}

.instructor-btn{
    position: absolute;
    bottom: -50px;
    width: 210px;
    left: -100px;
}

.sugested-questions h3::before{
    top: 8px;
}

.instructors p{
    width: 80%;
    place-self: center;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}
 
}

@media screen and (max-width:600px) {
    .header h1{
        padding:0 1rem;
        font-size: 2rem;
    }

    .header img{
        display: none;
    }

    .cards{
        display: flex;
        gap: 1rem;
    }
    
    
    .cards .card1{
        background-color: var(--navbar);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        height: 13rem;
        width: 11rem;
       border-radius: 15px;
       border-bottom: 4px solid #fff;
        
    }

    

 /* .description-activities */
  
 .description-activities{
    width: 100%;
      grid-template-columns: repeat(1, 1fr);

  }

        /* who we are contaianer */
  
        .who-we-are-container{
            padding: 0 1rem;
            gap: 3%;
            letter-spacing: .5px;
            flex-direction: column;
            height: auto;
            width: 100%;
        }
      
        .who-we-are-container img{
        display: none;
          
      }
      
        .student-enrolled{
            display: none;
        }

           /* start-your-learning-journey */
  
   .start-your-learning-journey img{
     display: none;
 
 }

   
  /* courses page asap */
  
  .our-popular-courses{
    position: relative;
    padding: 0 1rem;
  
}

.courses .course1{
    padding: 10px;
   width: 90%;
   height: auto;
   margin-bottom: 0px;
}

.courses .course1:hover{
    transform:none;
}

.our-popular-courses .title p{
  width: 100%;
}

.courses .course1 img{
    object-fit: contain;
  }


.courses{
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(2, 1fr);
}


.show-more-btn{
    position: absolute;
    top: 20px;
}


  
  /* courses page asap */
/*   
  .our-popular-courses{
    padding: 0 1rem;
  
}

.courses .course1{
    padding: 10px;
   width: 90%;
   height: auto;
   margin-bottom: 0px;
}

.our-popular-courses .title p{
  width: 100%;
}

.courses{
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(2, 1fr);
}


.show-more-btn{
    position: absolute;
    top: 20px;
} */

 

/* instructors */

.instructors{
    width: 100%;
    height: auto;
    padding: 0 1rem; 
}


.instructors p{
    width: 100%;
}


.instructors-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.instructors-cards .card1{
    width: 100%;
    height: auto;
}

.instructors-cards .card1 img{
    height: auto;
    object-fit: cover;
    border-top-left-radius: 0px;
}

.instructors-cards .card1 h4{
    color: #08025a;
   
}

.instructors-cards .card1 h5{
    color: #e91e62;
    font-size: 1rem;
    margin: 7px 0;
}


.instructors-cards .card1:nth-child(4){
    display: none;
}

.instructor-btn{
    display: flex;
    align-items: center;
}


/* .testimonial_section */

.testimonial_section{
    padding: 2rem 1rem;
    width: 100%;
    height: auto;

}






.testimonial_section h1{
color: #eef3ed;
font-size: 1.7rem;
letter-spacing: .6px;
margin-bottom: 10px;
margin-bottom: 20px;
}

.testimonial_section .cardes{
   display: flex;
    gap: 20px;
    width: max-content;
    animation: testimonialscroll 40s infinite linear;
}

.slider{
    flex-wrap: nowrap;
    width: 100%;
    gap: 30px;
    display: flex;
    position: relative;
}

.slider:hover{
    animation-play-state: paused;
}

    
}



@media screen and (max-width:480px){
    .header{
        flex-direction: column;
          padding: 0 1rem;
          width: 100%;
          
       
      }

      .text-container{
        width: 100%;
      }
      
      .header h1{
          font-size: 1.7rem;
      }
  
      .cards{
          margin-bottom: 20px;
      }

      .header img{
        display: none;
      }




      .cards{
        display: flex;
        gap: 1rem;
        width: 100%;
        padding: 0 0rem;
        flex-direction: column;
       font-size: 3rem;
       align-items: center;
    }
    
    
    .cards .card1{
        height: 13rem;
        width: 80%;
        padding: 10px;
     
    }
    

  
      /* .description-activities */
  
      .description-activities{
        width: 100%;
          grid-template-columns: repeat(1, 1fr);

      }
  
 
 
  
  .who-we-are-container{
      padding: 0 1rem;
      gap: 3%;
      letter-spacing: .5px;
      flex-direction: column;
      height: auto;
      width: 100%;
  }

  .who-we-are-container img{
  display: none;
    
}

  .student-enrolled{
      display: none;
  }
  
  
  
   /* start-your-learning-journey */
  
   .start-your-learning-journey{
   width: 100%;
  }
  
  .start-your-learning-journey .text-button p{
      letter-spacing: .5px;
  }

  .start-your-learning-journey img{
    display: none;

}

.start-your-learning-journey .text-button{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}



  
  /* courses page asap */
  
  .our-popular-courses{
    position: relative;
      padding: 0 1rem;
    
  }
  
  .courses .course1{
      padding: 10px;
     width: 90%;
     height: auto;
     margin-bottom: 0px;
  }

  .courses .course1 img{
    object-fit: contain;
  }


  .courses .course1:hover{
    transform:none;
}



  .our-popular-courses .title p{
    width: 100%;
}
  
  .courses{
    align-items: center;
      display: grid;
      gap: 0rem;
      grid-template-columns: repeat(1, 1fr);
  }
 
  
  .show-more-btn{
      position: absolute;
      top: 20px;
  }

  /* frequently ask questions */

.sugested-questions{
    margin-top: 70px;
    padding: 2rem 1rem;
}

.sugested-questions .question_answers{
    width: 100%;
}

/* instructors */

.instructors{
    height: auto;
    width: 100%;
    padding: 0 1rem;
    margin-top: 40px;
    margin-bottom: 80px;
  
}

.instructors p{
    width: 100%;
    display: flex;

}

.instructors h1{
    font-size: 1.5rem;
}


.instructors h3{
    margin-bottom: 7px;
    margin-top: 30px;
}

.instructors-cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-items: center;
}

.instructors-cards .card1{
    width: 100%;
    height: auto;
}

.instructor-btn{
    position: absolute;
    bottom: -50px;
    width: 210px;
    left: -100px;
}

.sugested-questions h3::before{
    top: 8px;
}


.testimonial_section h1{
    margin: 0px 0;
    font-size: 1.5rem;
    text-align: center;
     
}


    
}


@media screen and (max-width:400px) {

    .header{
        flex-direction: column;
          padding: 0 1rem;
          width: 100%;
          
       
      }

      .text-container{
        width: 100%;
      }
      
      .header h1{
          font-size: 1.2rem;
      }
  
      .cards{
          margin-bottom: 20px;
      }

      .header img{
        display: none;
      }




      .cards{
        display: flex;
        gap: 1rem;
        width: 100%;
        padding: 0 0rem;
        flex-direction: column;
       font-size: 3rem;
       align-items: center;
    }
    
    
    .cards .card1{
        height: 13rem;
        width: 70%;
        padding: 10px;
     
    }
    
      /* .description-activities */
  
      .description-activities{
        width: 100%;
          grid-template-columns: repeat(1, 1fr);

      }
  
/* who we are contaianer */

.who-we-are-container{
    width: 100%;
    padding: 0 1rem;
  
    
}

.who-we-are-container img{
  display: none;
    
}











.who-we-are-container .texts p{
    margin-top: 8px;
    font-size: 1rem;
}



.who-we-are-container .online-courses .icon{
    width: 130px;
    height: 50px;
    display: none;
}

   /* start-your-learning-journey */
  
   .start-your-learning-journey{
   width: 100%;
  }
  
  .start-your-learning-journey .text-button p{
      letter-spacing: .5px;
      font-size: 1rem;

  }

   
  .start-your-learning-journey .text-button h2{
    font-size: 1.5rem;
  }

  .start-your-learning-journey img{
    display: none;

}

  
  /* courses page asap */
  
  .our-popular-courses{
    position: relative;
      padding: 0 1rem;
    
  }
  
  .courses .course1{
      padding: 10px;
     width: 90%;
     height: auto;
     margin-bottom: 0px;
  }

  .courses .course1 img{
    object-fit: contain;
  }


  .our-popular-courses .title h1 {
    font-size: 1.7rem;
  }

  .our-popular-courses .title p{
    width: 100%;
}
  
  .courses{
    align-items: center;
      display: grid;
      gap: 0rem;
      grid-template-columns: repeat(1, 1fr);
  }

  .courses .course1:hover{
    transform:none;
}
 
  
  .show-more-btn{
      position: absolute;
      top: 20px;
  }

  /* frequently ask questions */

.sugested-questions{
    margin-top: 70px;
    padding: 2rem 1rem;
}

.sugested-questions .question_answers{
    width: 100%;
}

/* instructors */

.instructors{
    height: auto;
    padding: 0 1rem;
    margin-top: 40px;
    margin-bottom: 80px;
  
}

.instructors p{
    width: 100%;

}


.instructors h3{
    margin-bottom: 7px;
    margin-top: 30px;
}

.instructors h1{
    font-size: 1.7rem;
}

.instructors-cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-items: center;
}

.instructors-cards .card1{
    width: 90%;
    height: auto;
    padding-bottom: 20px;
    border-radius: 10px;
}

.instructors-cards .card1 img{
    border-radius: 10px;
}




.testimonial_section {
    width: 100%;
    padding: 0 1rem;
    margin-top: 90px;
}
.testimonial_section h1{
    margin: 0px 0;
    font-size: 1.7rem;
     
}

.testimonial_section h3{
    margin-top: 30px;
}




    
}

.foooter-container{
    margin-top: 0px;
    background-color: var( --main-footer-color);
    padding: 2rem 6rem;
    color: #eef3ed;
    display: flex;
    width: 100%;
   flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.foooter-container .footer-text{
    display: flex;
    gap: 3%;
}

.flex1 p{
    font-size: 15px;
    letter-spacing: .5px;
    width: 300px;

    
}

.flex2 .links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.flex3 .links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;

}

.logo-footer{
    color: #eef3ed;
    margin-bottom: 20px;
}

.logo-footer span{
color: #e91e62;
}

.mail,
 .call
  ,.location{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
    margin-top: 50px;
}

.links li{
    list-style: none;
}

.links a{
    text-decoration: none;
    color: #eef3ed;
    font-size: 15px;
    transition: .5s;
}

.links a:hover{
    color: #e91e62;
    text-decoration: underline;
   
}

.location i{
   color:#f50957;
}

.mail i{
    color: #f50957;
}
 .call i{
    color: #f50957;
 }

 .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 6rem;
    background-color: #e91e62;
    text-align: center;
    width: 100%;
    height: 7vh;
    color: #eef3ed;
    letter-spacing: .5px;
 }

 hr{
    height: 2px;
    background-color: gray;
 }

 .footer-text h2{
    font-size: 1.3rem;
    letter-spacing: .5px;
    position: relative;

 }

 .footer-text h2::before{
    background-color: #f50957;
    content: "";
    height: 3px;
    position: absolute;
    width: 80px;
    bottom: -5px;
    border-radius: 8px;
   
 }

 .flex4{
    gap: 30px;
    display: grid;
 }

 .footer-socials a{
    font-size: 1.4rem;
    color: #f50087;
    z-index: 1;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 8px;
   
 }

 .flex5{
    background-color: #e91e63;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 190px;
    line-height: 2.6;
    font-size: 20px;
    color: #eef3ed;
    text-align: center;
   
 }

 .flex5 a{
    text-decoration: none;
    color: #eef3ed;
   
 }


 @media screen and (max-width:1200px) {
    .foooter-container{
        padding: 2rem 3rem;
        width: 100%;
        height: 50vh;
    }
    

    .foooter-container .footer-text{
        display: flex;
        gap: 2%;
    }
    
    .flex1 p{
       
        width: 250px;
    
        
    }
    
    
 }


 @media screen and (max-width:992px){
    .foooter-container{
        padding: 2rem 1.5rem;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    .foooter-container .footer-text{
        flex-wrap: wrap;
        gap: 2%;
    }


 }

 @media screen and (max-width:768px){
    .foooter-container{
        padding: 2rem 1rem;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

 }

 @media screen and (max-width:480px){
    .foooter-container{
        padding: 2rem 1rem;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    .foooter-container .footer-text{
        flex-wrap: wrap;
        gap: .5%;
    }


 }


 @media screen and (max-width:400px){
    .foooter-container{
        padding: 1rem 1rem;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    .foooter-container .footer-text{
        flex-wrap: wrap;
        gap: 0%;
    }

    .flex1 p{
        font-size: 15px;
        letter-spacing: .5px;
        width: 100%;
    }
    
    .flex2 .links{
        margin-top: 8px;
        gap: 7px;
    }
    
    .flex3 .links{
        margin-top: 8px;
        gap: 7px;
    }

    .logo-footer{
        color: #eef3ed;
        margin-bottom: 3px;
    }
    
    .mail,
     .call
      ,.location{
        display: flex;
        margin-bottom: 10px;
        gap: 20px;
        margin-top: 20px;
    }

    .copyright{
      
        padding: 1rem 1rem;
        width: 100%;
        height: 5vh;
     }
    

 }







