.header{
    margin-top: 120px;
    display: flex;
    width: 100%;
    padding: var( --man-pages-padding);
    gap: 5%;
}


.header h1{
    line-height: 1.3;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}


.enrich-your-dream{
    color: #e91e62;
}

.header p{
    font-size: 1rem;
    letter-spacing: .5px;
    line-height: 1.3rem;
    margin-bottom: 2rem;
}

.header img{
    width: 90%;
    height: 75vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    animation-name: headerimage;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes headerimage {
    0%{
        transform: translateX(0px);
    }

    50%{
        transform: translateX(-10px);
    }

    100%{
        transform: translateX(0px);
    }
    
}



.find-course:hover{
    background-color: rgb(255, 72, 0);
}

.find-course{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: .5px;
    color: #ffffff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 3rem;
    transition: .5s;
}

.cards{
    display: flex;
    gap: 2rem;
}


.cards .card1{
    background-color: var(--navbar);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 13rem;
    width: 10rem;
   border-radius: 15px;
   border-bottom: 4px solid #fff;
    
}


.cards .card1 h1{
    font-size: 2rem;
    margin: 7px 0;
}


.cards .card1 h2{
    font-size: 1.2rem;
}


/* description-activities */

.description-activities{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar);
    margin-top: 60px;
    height: 90px;
    margin-bottom: 50px;
    padding: 0 6rem;
}

.description-activities .description1{
    display: flex;
    gap: .5rem;
}

.description-activities .description1 .icon{
  background-color: var( --main-footer-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


/* who we are contaianer */

.who-we-are-container{
    display: flex;
    padding: 0 6rem;
    gap: 3%;
    margin-bottom: 50px;
    position: relative;
}

.who-we-are-container img{
    width: 41%;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    box-shadow: var(--box-shadow);
    transition: .5s;
    
}

.who-we-are-container img:hover {
    transform: translateX(10px);

   
}

.who-we-are-container img:hover ~.student-enrolled{
    transform: translateY(-10px);

}




.student-enrolled{
    position: absolute;
    width: 15%;
    height:16vh ;
    background-color: #fff;
    color: var(--navbar);
    padding: 20px;
    bottom: 40px;
    left: 330px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 5px 10px rgba(243, 3, 103, 0.884);
    transition: .5s;
    
}

.student-enrolled h1{
    color: #17025A;
    font-size: 2.3rem;
}

.student-enrolled p{

    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.who-we-are-container h3{
    margin-top: 10px;
    color: var(--navbar);
    letter-spacing: .5px;
}

.who-we-are-container .texts p{
    margin-top: 10px;
    line-height: 1.3;
    font-size: .9rem;
    letter-spacing: .5px;
}


.who-we-are-container .online-courses{
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 1rem;
}

.who-we-are-container .online-courses .icon{
    width: 80px;
    height: 50px;
    border-radius: 50%;
    background: var(--navbar);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;

}

.who-we-are-container .online-courses .texts h2{
    color: var(--navbar);
    font-size: 1.5rem;
}

/* start-your-learning-journey */

.start-your-learning-journey{
    background: linear-gradient(rgba(1, 3, 155, 0.815), rgba(1, 3, 155, 0.801)), url(../../assets/download.jpeg);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 6rem;
    display: flex;
    gap: 5rem;
    justify-content: center;
    box-shadow: inset var(--box-shadow);
    margin-bottom: 50px;
}


.start-your-learning-journey img{
    width: 400px;
    object-fit: cover;
    height: 280px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 8px solid var(--navbar);
    box-shadow: var(--box-shadow);

}

.start-your-learning-journey .text-button{
    width: 60%;
}

.start-your-learning-journey .text-button h2{
    font-size: 2.2rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 10px;

}

.start-your-learning-journey .text-button p{
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 10px;

}

.text-button .dicover-tbn{
    display: flex;
    align-items: baseline;
    outline: none;
    border: none;
    background-color: transparent;
    align-items: center;
    color: #fff;
    background-color: var(--navbar);
    padding: 10px 20px;
    letter-spacing: .5px;
    font-size: 1rem;
    gap: 8px;
    border-radius: 20px;
}

/* courses page asap */

.our-popular-courses{
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.our-popular-courses .title{
    text-align: center;
    position: relative;
 
    margin-bottom: 0px;
    
}

.our-popular-courses .title h3{
    margin-bottom: 7px;
    letter-spacing: 1px;
    z-index: 1;
    text-shadow: var(--box-shadow);
    
}

.our-popular-courses .title h3::before{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background:linear-gradient(#fff 0%,#ff0141 100%);
    z-index: -1;
    top: -20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.our-popular-courses .title p{
    margin-top: 10px;
    line-height: 1.2;
    font-size: 1rem;
    letter-spacing: .5px;
    text-align: justify;
    width: 600px;
}

.courses{
    display: flex;
    gap: 20px;
}

.courses .course1{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
   width: 268px;
   height: 60vh;
   border-radius: 10px;
   margin-top: 30px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
   border-bottom: 5px solid var(--navbar);
   overflow: hidden;
   color: #000;
   transition: .5s;

}

.courses .course1:hover{
    transform: translateY(10px)  scale(1.1);
}

.courses .course1 img{
    width: 60%;
    height: 170px;
    place-self: center;
    object-fit: cover;
    margin-bottom: 10px;
}

.courses .course1 h3{
    font-size: 1rem;
    margin-bottom: 15px;
}

.courses .course1 p{
    margin-bottom: 10px;
    font-size: 1rem;
   text-decoration: underline 2px solid rgb(255, 0, 128);
}

.courses .course1 .stars{
    color: rgb(255, 123, 0);
   
}


.profile-name{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-name h4{
    font-size: .9rem;
}

.courses .profile-name img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--navbar);
}

button{
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    background-color: var(--navbar);
    color: #fff;
    font-size: 1rem;
    letter-spacing: .5px;
    border-radius: 10px;
}

.show-more-btn{
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 50%; 
}



/* frequently ask questions */

.sugested-questions{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
    gap: 20px;
    position: relative;
    color: #000;
}

.sugested-questions h3{
    color: #fff;
}

.sugested-questions h3::before{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background:linear-gradient(#fff 1%,#ff012b 100%);
    z-index: -1;
    top: 40px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;

}

.sugested-questions h1{
    color: #fff;
    margin-bottom: 0px;
    letter-spacing:2 ;
}


.sugested-questions .question_answers{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 70%;
    border: 2px solid #e91e62;
   
}

.sugested-questions .question_answers .question{
    display: flex;
    justify-content: space-between;
   

}

.question_answers .question p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    align-items: center;
}

.question_answers .question .fa-arrow-down{
    font-size: 20px;
    color: #e91e62;
}

.question_answers .question .fa-plus{
    padding: 10px;
    color: #e91e62;
    font-weight: bold;
}

.answers{
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 10px;
    display: none;
    margin-top: 10px;
    
}

.answers p{
    line-height: 1.1;
}



/* instructors */

.instructors{
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: .5px;
    margin-bottom: 50px;
    position: relative;
}

.instructors h3{
    margin-bottom: 7px;
    margin-top: 30px;

}

.instructors h3::before{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background:linear-gradient(#fff 1%,#ff012b 100%);
    z-index: -1;
    top: 5px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

.instructors h1{
    color: #e91e62;
    text-shadow: var(--box-shadow);
}

.instructors p{
    width: 50%;
    place-self: center;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}


.instructors-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.instructors-cards .card1{
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    width: 278px;
    height: 40vh;
    border-top-left-radius: 50px;
    margin-bottom: 20px;
   
}

.instructors-cards .card1 img{
    height: 30vh;
    object-fit: cover;
    border-top-left-radius: 0px;
}

.instructors-cards .card1 h4{
    color: #08025a;
   
}

.instructors-cards .card1 h5{
    color: #e91e62;
    font-size: 1rem;
    margin: 7px 0;
}

.instructor-btn{
    display: flex;
    align-items: center;
}




/* testimonial section */


.testimonial_section{
    padding: 2rem 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: #0b012c;
    margin-bottom: 50px;
   
}


.testimonial_section h3{
color: #ffffff;
font-size: 18px;
letter-spacing: .6px;
margin-bottom: 10px;
}


.testimonial_section h3::before{
    content: '';
    width: 40px;
    height: 50px;
    position: absolute;
    background:linear-gradient(#fff 1%,#ff012b 100%);
    z-index: -1;
    top: 5px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;

}



.testimonial_section h1{
color: #eef3ed;
font-size: 1.7rem;
letter-spacing: .6px;
margin-bottom: 10px;
margin-bottom: 20px;
}

.testimonial_section .cardes{
   display: flex;
    gap: 20px;
    width: max-content;
    animation: testimonialscroll 40s infinite linear;
    
}



.slider{
    flex-wrap: nowrap;
    width: 100%;
    gap: 30px;
    display: flex;
    position: relative;
}

.slider:hover{
    animation-play-state: paused;

}

@keyframes testimonialscroll {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }
    
}



.cardes .carde1{
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 30px;
    height: 170px;
    margin-top: 30px;
    position: relative;
   
    z-index: 1;
}

.cardes .carde1::after{
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 130px;
    z-index: -1;

}

.cardes .carde1 p{
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.3;
    margin-top: 10px;
}

.cardes .carde1 .fa-ellipsis{
    font-size: 25px;

}

.fa-quote-left{
    color: #e91e62;
}

.slider .cardes .carde1 img{
    width: 80px;
    height: 80px;
    border-radius: 45px;
    border: 3px solid #e91e62;
    position: absolute;
    top: -40px;
   right: 160px;
}



/* media queries */


@media screen and (max-width:1200) {
    
    
}