* .footercontainer */

.foooter-container{
    margin-top: 80px;
    background-color: var(--main-background-color);
    padding: 2rem 6rem;
    color: #eef3ed;
    display: flex;
    width: 100%;
   flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.foooter-container .footer-text{
    display: flex;
    gap: 5%;
}

.flex1 p{
    font-size: 15px;
    letter-spacing: .5px;
    width: 300px;

    
}

.flex2 .links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.flex3 .links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;

}

.logo-footer{
    color: #eef3ed;
    margin-bottom: 20px;
}

.logo-footer span{
color: #e91e62;
}

.mail,
 .call
  ,.location{
    display: flex;
    margin-top: 0px;
    margin-bottom: 20px;
    gap: 10px;
   
}

.links a{
    text-decoration: none;
    color: #eef3ed;
    font-size: 15px;
    transition: .5s;
}

.links a:hover{
    color: #e91e62;
    text-decoration: underline;
   
}



 .copyright{
    padding: 2rem 6rem;
    background-color: #e91e62;
    text-align: center;
    width: 100%;
    height: 7vh;
    color: #eef3ed;
    letter-spacing: .5px;
 }

 hr{
    height: 2px;
    background-color: gray;
 }

 .footer-text h2{
    font-size: 1.3rem;
    letter-spacing: .5px;
    position: relative;

 }

 .footer-text h2::before{
    background-color: #f50957;
    content: "";
    height: 3px;
    position: absolute;
    width: 80px;
    bottom: -5px;
    border-radius: 8px;
   
 }

 .footer-socials .fa-brands{
    font-size: 1.4rem;
    color: #eef3ed;
    z-index: 1;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #fc5304;
    padding: 5px;
    border-radius: 8px;
   
 }

 .flex5{
    background-color: #e91e63;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 190px;
    line-height: 2;
    font-size: 20px;
    color: #eef3ed;
    text-align: center;
   
 }

 .flex5 a{
    text-decoration: none;
    color: #eef3ed;
   
 }

 