@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --main-footer-color:#0b0423;
      --navbar:#e91e63;
      --text-color:#fff;
      --main-background-color:#17025A;

      --button-color:#200281;
      --title-font-size:2rem;
      --sub-title-font-size:2rem;
      --small-font-size:0.9rem;
      --man-pages-padding:2rem 6rem;
      --transitions:0.5s;
      --font-family:"Roboto", sans-serif;
      --form-bacground:#fff;
      --socials-background-color:#fc5304;
      --box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
  }

  *{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: var(--font-family);
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--main-background-color);
    color: #fff;
 
  }

